.history-container {
  display: block;
  flex-direction: column;
  .title {
    margin: 10px;
  }
  label {
    color: #00a932;
  }
  input {
    color: #ffffff;
  }
  fieldset {
    border-color: #00a932;
    span {
      color: #00a932;
    }
  }
  fieldset:hover {
    border-color: #00ed47 !important;
  }
  ul {
    overflow-x: scroll;
    width: 90%;
    white-space: nowrap;
    display: flex;
  }
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      display: block;
      margin: 0 auto;
      padding: 10px;
      width: 180px;
      height: 130px;
    }
    button {
      font-size: 16px;
      cursor: pointer;
      svg {
        font-size: small;
        margin-right: 3px;
      }
      &:hover {
        text-decoration: underline;
        svg {
          transform: rotate(15deg);
        }
      }
    }
  }
}
