$naver-color: #00a932;
$naver-focused-color: #00ed47;
$background-color: #222222;
$drawer-color: #313131;

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  color: #ffffff !important;
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $background-color;
}

section {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 2rem;
}

aside {
  top: 200px;
  left: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

article {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.canvas-container {
  margin: 0 auto;
}

button {
  background-color: $naver-color !important;
  border: none !important;
  color: #ffffff !important;
}

button:hover {
  opacity: 0.9;
}

button:focus {
  background-color: $naver-focused-color !important;
}

.open-btn {
  position: relative;
  margin: 0.5rem !important;
}
.open-file {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.editor {
  display: block;
  //margin: 0 auto;
}

.editor-container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.MuiDrawer-paperAnchorDockedRight {
  border-left: none !important;
}

.drawer {
  width: 280px;
  height: 100%;
  background-color: $drawer-color;
  color: white;

  .drawer-content {
    padding: 10px;
  }

  & > button {
    margin: 10px;
  }
}

.naver-colored-text {
  & label.Mui-focused {
    color: $naver-focused-color;
  }
  & label {
    color: $naver-color;
  }
  & option {
    background-color: $background-color !important;
  }

  & .MuiOutlinedInput-root {
    & input {
      color: white;
    }
    & fieldset {
      border-color: $naver-color;
      color: white;
    }
    &:hover fieldset {
      border-color: $naver-focused-color;
    }
    &.Mui-focused fieldset {
      border-color: $naver-focused-color;
    }
  }
  & textarea {
    color: white;
  }
  & select {
    color: white;
  }
}

.naver-colored-slider {
  & span {
    color: white;
    background-color: $naver-color;
    &:hover {
      color: white;
      background-color: $naver-focused-color;
    }
  }
}

.naver-colored-checkbox,
.naver-colored-button {
  & span {
    color: $naver-color;
  }
}
