.add-text {
  text-align: center;
}

.add-text-setting {
  margin: 5px;
  padding: 5px;
}

$focusedColor: rgb(3, 207, 93);

.add-text-content {
  color: black;
  position: absolute;
  box-sizing: content-box;
  width: 200px;
  text-align: center;
  :focus {
    outline: 0;
  }
}

.add-text-content.hover-allow:hover {
  border: 1px solid red;
  cursor: move;
}

.add-text-content.focused {
  border: 2px solid $focusedColor;
}

.hide {
  display: none !important;
}

.add-text-string {
  padding: 10px;
  word-break: keep-all;
  overflow-wrap: break-word;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

.remove-text-content {
  color: white;
  background-color: red;
  clip-path: circle();
  position: absolute;
  width: 20px !important;
  height: 20px !important;
  top: -15px;
  left: -15px;
  padding: 1px;
  cursor: pointer;
}

.resize-text-content {
  color: white;
  background-color: $focusedColor;
  clip-path: circle();
  position: absolute;
  width: 20px !important;
  height: 20px !important;
  right: -15px;
  bottom: -15px;
  padding: 1px;
  cursor: pointer;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /*IE 10*/
  -ms-user-select: none;
  user-select: none;
}

.add-text-canvas {
  border: 3px solid black;
  position: absolute;
  top: 0;
  left: 0;
}

@font-face {
  font-family: 'BlackHanSans';
  src: url('./fonts/BlackHanSans-Regular.eot'); /* IE9 Compat Modes */
  src: url('./fonts/BlackHanSans-Regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/BlackHanSans-Regular.woff2') format('woff2'),
    /* Modern Browsers */ url('./fonts/BlackHanSans-Regular.woff') format('woff'),
    /* Modern Browsers */ url('./fonts/BlackHanSans-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'NanumSquareR';
  src: url('./fonts/NanumSquareR.eot'); /* IE9 Compat Modes */
  src: url('./fonts/NanumSquareR.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/NanumSquareR.woff2') format('woff2'),
    /* Modern Browsers */ url('./fonts/NanumSquareR.woff') format('woff'),
    /* Modern Browsers */ url('./fonts/NanumSquareR.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'DabangguB';
  src: url('./fonts/DabangguB.eot'); /* IE9 Compat Modes */
  src: url('./fonts/DabangguB.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/DabangguB.woff2') format('woff2'),
    /* Modern Browsers */ url('./fonts/DabangguB.woff') format('woff'),
    /* Modern Browsers */ url('./fonts/DabangguB.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'CrayonM';
  src: url('./fonts/CrayonM.eot'); /* IE9 Compat Modes */
  src: url('./fonts/CrayonM.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/CrayonM.woff2') format('woff2'),
    /* Modern Browsers */ url('./fonts/CrayonM.woff') format('woff'),
    /* Modern Browsers */ url('./fonts/CrayonM.ttf') format('truetype'); /* Safari, Android, iOS */
}
