.add-text {
    width: 250px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(42, 42, 43);
    text-align: center;
}

.add-text-title {
    background-color: gray;
    padding: 10px;
}
